.row{
text-align: center;
}

.row:nth-child(2n) {
  background-color: lemonchiffon;
}
.row:nth-child(2n+1) {
  background-color: lightcyan;
}


.text{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: lightslategray;
}