.stats {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
  width: 100%;
  background-color:lightskyblue;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* list-style: none; */
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
  width: calc(100% / 3);
  border: 1px solid darkgrey;
}

.label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: lightslategray;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  color: black;
}
