.statlist{
  
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
  min-width: 450px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 15px 20px;
  width: calc(100% / 4);
  background-color:lightskyblue;
  border: 1px solid darkgrey;
}

.label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  color: lightslategray;
}

.percentage {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  color: black;
}
